<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Climate crisis status</title>
    <link rel="stylesheet" type="text/css" href="/{{stylesheet}}.css"/>
</head>
<body>

<h1>Climate crisis status</h1>

{{#with clockResponse}}
{{#with data.modules.carbonDeadlineModule}}
<section class="flavor-{{flavor}}">
    <h2>Carbon deadline</h2>
    <p class="description">{{description}}</p>
    <p>
        <strong>
            <span class="time-amount">{{timestamp.yearsPart}}</span>
            <span class="time-unit">years</span>
            <span class="time-amount">{{timestamp.daysPart}}</span>
            <span class="time-unit">days</span>
            <span class="time-amount">{{timestamp.hoursPart}}</span>
            <span class="time-unit">hours</span>
            <span class="time-amount">{{timestamp.minutesPart}}</span>
            <span class="time-unit">minutes</span>
            <span class="time-amount">{{timestamp.secondsPart}}</span>
            <span class="time-unit">seconds</span>
        </strong>
    </p>
</section>
{{/with}}

{{#with data.modules.renewablesModule}}
<section class="flavor-{{flavor}}">
    <h2>Renewables</h2>
    <p class="description">{{description}}</p>
    <p class="current-val"><strong>{{currentPercentage}}%</strong></p>
</section>
{{/with}}
{{/with}}

{{#with guMobileFrontsResponse}}
<section>
    <h2>Latest news</h2>
    <p>Climate crisis headlines from <a href="https://www.theguardian.com/environment/climate-crisis">The Guardian</a></p>
    <ul>
        {{#each cards}}
        <li>
            <a href="{{item.links.webUri}}">{{item.title}}</a>
            <time datetime="{{item.machineDate}}">{{item.humanDate}}</time>
        </li>
        {{/each}}
    </ul>
</section>
{{/with}}

</body>
</html>